*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg ,rgb(16, 104, 245),rgb(10, 149, 200),rgb(56, 240, 253),rgb(177, 251, 254));
}
.quotebox{
    background-color: azure;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 5px rgba(1, 1, 11, 0.15)  ;
}
.quotebox h2{
    font-size: 35px;
    margin-bottom: 50px;
    position: relative;

}
.quotebox h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}
.quotebox blockquote{
    font-size: 20px;
    min-height: 110px;
}
.quotebox blockquote::before,.quotebox blockquote::after{
     content: '"';
}
.quotebox span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.quotebox span::before{
    content: '';
    width: 16px;
    height: 2px;
    background:rgb(23, 124, 229) ;
    position: absolute;
    top: 50%;
    left: -30px;

}
.quotebox div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quotebox button{
   background: rgb(182, 217, 254);
   color: rgb(1, 54, 167);
   font-weight: 500;
   border-radius: 25px;
   border: 3px solid rgb(23, 124, 229); 
   width: 150px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 5px;
   cursor: pointer;
}
.quotebox button img{
    width: 35px;
}